body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
